*
!.gitignore
!cache
cache/persistent/*
!cache/persistent/empty
cache/models/*
!cache/models/empty
cache/views/*
!cache/views/empty

!logs/empty
!tests/empty
!sessions/empty

logs/*
tests/*
sessions/*